@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

.navbar {
    background-color: black;
    height: 75px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
    margin-left: 10px;
}

.connectwallet {
    margin-right: 10px;
    background-color: black;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    outline: none;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.connectwallet:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
    background-color: white;
    color: black;
}

.truncatedAddress {
    margin-right: 10px;
    color: white;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    padding: 10px 12px;
    text-align: center;
}