@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

.background {
  background-image: url('/images/backgroundimage.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.landingcopy {
  margin-top: 170px;
  margin-left: 90px;
  position: absolute;
}

.title {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 80px;
}

.tagline {
  font-family: 'Xanh Mono', monospace;
  font-weight: bold;
  font-size: 30px;
}

.explorebutton {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 40px;

  background-color: white;
  box-sizing: border-box;
  border: 3px solid black;
  color: black;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  outline: none;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.explorebutton:hover {
  background-color: black;
  color: white;
}

.quote {
  background-color: black;
  height: 380px;
  align-items: center;
}

.valueprop {
  height: 480px;
  display: flex;
  justify-content: space-between;
}

.statista {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: white;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 50px;
  text-align: center;
}

.smallstatista {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  text-align: center;
}

.bots {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 70px;
  margin-right: 40px;
  text-align: right;
}

.botstext {
  font-family: 'Xanh Mono', monospace;
  font-weight: bold;
  font-size: 25px;
  margin-top: 30px;
  margin-right: 40px;
  text-align: right;
  margin-left: 100px;
}

.problemcontainer {
  margin-right: 40px;
}




.summer {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 70px;
  margin-left: 40px;
  text-align: left;
  color: white;
}

.summertext {
  font-family: 'Xanh Mono', monospace;
  font-weight: bold;
  font-size: 25px;
  margin-top: 30px;
  margin-left: 40px;
  text-align: left;
  margin-right: 80px;
  color: white;
}

.summercontainer {
  margin-left: 40px;
}

.valueprop2 {
  height: 480px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

/* Logo carousel made by following Youtube tutorial */
.logocarousel {
  overflow: hidden;
  background: black;
  white-space: nowrap;
}

.logocarousel:hover .logoslide {
  animation-play-state: paused;
}

.logoslide {
  display: inline-flex;
  animation: 40s slide infinite linear;
}

.logoslide img {
  height: 50px;
  margin: 0 40px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}


.poweredby {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.black {
  background-color: black;
  padding-bottom: 20px;
}