@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

.background {
    background-image: url('/images/backgroundimage.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.landingcopy {
    margin-top: 170px;
    margin-left: 90px;
    position: absolute;
}

.title {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.tagline {
    font-family: 'Xanh Mono', monospace;
    font-weight: bold;
    font-size: 30px;
}

.explorebutton {
    font-family: "Arial Narrow", Arial, sans-serif;
    /* font-family: 'Arial Mono', monospace; */
    /* font-family: 'Xanh Mono', monospace; */
    font-weight: 700;
    font-size: 30px;
    margin-top: 40px;

    background-color: white;
    /* box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px; */
    box-sizing: border-box;
    border: 3px solid black;
    color: black;
    cursor: pointer;
    display: inline-flex;
    /* font-size: 1.5rem; */
    justify-content: center;
    line-height: 1;
    outline: none;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    /* transition: box-shadow .2s, -webkit-box-shadow .2s; */
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.explorebutton:hover {
    /* box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0; */
    background-color: black;
    color: white;
}