.title {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;;
}

.wcard {
    border: 3px solid black;
    height: 300px;
    margin-left: 20px;
    width: 440px;
    position: relative;
}

.eventtitle {
    font-family: "Arial Narrow", Arial, sans-serif;
    margin-top: '40px';
    margin-left: '30px'; 
}

.worldcoinbutton {
    font-family: "Arial Narrow", Arial, sans-serif;
    /* font-family: 'Arial Mono', monospace; */
    /* font-family: 'Xanh Mono', monospace; */
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 30px;

    background-color: black;
    /* box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px; */
    box-sizing: border-box;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    display: inline-flex;
    /* font-size: 1.5rem; */
    justify-content: center;
    line-height: 1;
    outline: none;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    /* transition: box-shadow .2s, -webkit-box-shadow .2s; */
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.worldcoinbutton:hover {
    /* box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0; */
    background-color: white;
    color: black;
    border: 3px solid black;
}

.backgroundimage {
    height: 100px;
    object-fit: cover;
}